[submodule "LiuYuhan/LNet"]
	path = LiuYuhan/LNet
	url = https://github.com/gitliuyuhan/LNet.git
[submodule "YuFeifei/graduation_design_v2"]
	path = YuFeifei/graduation_design_v2
	url = https://github.com/colorfulclouds/graduation_design_v2.git
[submodule "JiaZhipeng/jzpfs2"]
	path = JiaZhipeng/jzpfs2
	url = https://github.com/Kittoa/jzpfs2.git
[submodule "LiuYuhan/Quoridor_cocos"]
	path = LiuYuhan/Quoridor_cocos
	url = https://github.com/gitliuyuhan/Quoridor_cocos.git
